body{
    background-color: white;
}
/* HEADING-1 */

h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 200%;
}

 /* NAVBAR-STYLES 

#pgnavbar a{
    position: absolute;
    left: -78px;
    transition: 0.3s;
    padding: 17px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(0, 0, 0);
    border-radius: 0 5px 5px 0;
}

 hovering 

#pgnavbar a:hover{
    left: 0;
}
    



#about {
    top: 20px;
    background-color: rgb(80, 194, 255);
}

#blog{
    top: 80px;
    text-align: right;
    background-color: rgb(0, 136, 84);
}

#resources {
    top: 140px;
  
    background-color: rgb(105, 164, 202);
}

#contact {
    top: 200px;
    background-color: rgb(172, 81, 157);
}

*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x:  hidden;
    padding-top: 60px;
    transition: 0.3s;


}


.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}



.sidenav a:hover {
    color: #f1f1f1;

}


.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 379%;
    margin-left: 544px;

}


#main {
    transition: margin-left .5s;
    padding-left: 20px;
    padding-top: 0.1%;

}



@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;


    }
    

    .sidenav a{
        font-size: 18px;
    }
}

*{
    margin: 0;
    padding:0;

}

.slider{
    display: grid;
    place-items: center;
    height: 100vh;

}




body{
    background:url(bg.png) repeat 0 0;
    background-size: cover;
    animation: animate 28s linear infinite;
    animation-iteration-count: infinite;
   



}
@keyframes animate{
    100%{
        background-position-x: 19000px ;}
    
}

    
    
