*{
    margin: 0;
    padding:0;

}

.slider{
    display: grid;
    place-items: center;
    height: 100vh;

}




body{
    background:url(bg.png) repeat 0 0;
    background-size: cover;
    animation: animate 28s linear infinite;
    animation-iteration-count: infinite;
   



}
@keyframes animate{
    100%{
        background-position-x: 19000px ;}
    
}
